# Ansible Collection - {{ namespace }}.{{ collection_name }}

||||
|---|---|---|
|prod|![prod branch CI](https://github.com/{{ namespace }}/ansible-role-{{ role_name }}/actions/workflows/CI.yml/badge.svg?branch=prod)|
|dev|![dev branch CI](https://github.com/{{ namespace }}/ansible-role-{{ role_name }}/actions/workflows/CI.yml/badge.svg?branch=dev)||

A collection for {{ collection_name }} related things.

[Documentation for the dev branch](https://{{ namespace }}.github.com/ansible_docs)

[Documentation for the prod branch](https://example.com/ansible-docs/collections/{{ namespace }}/{{ collection_name }})


## License

Copyright (c) Markus Falb <markus.falb@mafalb.at>

GPL-3.0-or-later
