..
  Copyright (c) Markus Falb <markus.falb@mafalb.at>
  GNU General Public License v3.0+
  see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt

.. _ansible_collections.{{ namespace }}.{{ collection_name }}.docsite.role1:

{{ namespace }}.{{ collection_name }}.role1
===========================================

An ansible role for {{ collection_name }}.

Basic Usage
-----------

.. code-block:: yaml+jinja

  - name: Install {{ collection_name }}
    hosts: localhost
    roles:
      - role: {{ namespace }}.{{ collection_name }}.role1
..

License
-------

Copyright (c) Markus Falb <markus.falb@mafalb.at>

GPL-3.0-or-later
