..
  Copyright (c) @@author@@
  @@license@@

.. _ansible_collections.@@namespace@@.@@collection_name@@.{{ role_name }}.docsite.{{ role_name }}_role:

@@namespace@@.{{ role_name }}
======================

An ansible role for {{ role_name }}.

Basic Usage
-----------

.. code-block:: yaml+jinja

    - roles:
        - role: @@namespace@@.@@collection_name@@.{{ role_name }}
          {{ role_name }}_variable: bla
..


License
-------

Copyright (c) @@author@@

@@licenseshort@@
