..
  Copyright (c) ___author___
  ___license___

.. _ansible_collections.___namespace___.___collection_name___.{{ role_name }}.docsite.{{ role_name }}_role:

___namespace___.{{ role_name }}
===============================

An ansible role for {{ role_name }}.

Basic Usage
-----------

.. code-block:: yaml+jinja

    - roles:
        - role: ___namespace___.___collection_name___.{{ role_name }}
          {{ role_name }}_variable: bla
..


License
-------

Copyright (c) ___author___

___licenseshort___
