# vim: set ft=yaml ts=2 expandtab:
#
# ___license___
---

argument_specs:
  main:
    short_description: {{ role_name }}
    description:
      - {{ role_name }}

    options:
      {{ role_name }}_var:
        description:
          - What this var does
        type: list
        elements: str
        default:
          - default value
...
